<!-- NAVBAR -->
<nav class="navbar navbar-inverse nav-color nav-replace" >
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/index">Tel4g</a>
		</div>
		<ul class="nav navbar-nav navbar-left">
			<li><a href="/index">Nos offres</a></li>
			<li><a href="/phones">Nos téléphones</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li ng-show="!isAuth"><a href="/user/new">Inscription</a></li>
			<li ng-show="!isAuth"><a href="/authentification">Connection</a></li>
			<li ng-show="isAuth"><a ng-click="logout()" href="/#">Déconnection</a></li>
		</ul>
	</div>
</nav>