<div ng-include="'../partials/menu.html'">
</div>
<!-- CONTENT -->
<div class="container">
	<form class="form-horizontal">
		<fieldset>
			<legend><h3>Rejoignez-nous</h3></legend>
			<div class="form-group">
				<label for="inputEmail" class="col-md-2 control-label">Email</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="inputEmail" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-md-2 control-label">Password</label>
				<div class="col-md-10">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div ng-include="'../partials/footer.html'">
</div>