<div ng-include="'../partials/menu.html'">
</div>
<!-- CONTENT -->
<div class="container">
	<div ng-show="loader" id="loader"></div>
	<div ng-show="!loader">
		<form novalidate name="formRegister" class="form-horizontal" ng-submit="addUser(newUser)">
			<fieldset>
				<legend><h3>Rejoignez-nous</h3></legend>
				<div class="form-group">
					<label for="inputNom" class="col-md-2 control-label">Nom</label>
					<div class="col-md-10">
						<input type="text" ng-model="newUser.lastName" name="inputNom" class="form-control" id="inputNom" placeholder="Nom" required>
						<div ng-show="formRegister.$submitted || formRegister.inputNom.$touched">
							<span class="errorInput" ng-show="formRegister.inputNom.$error.required">Veuillez saisir votre nom.</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPrenom" class="col-md-2 control-label">Prenom</label>
					<div class="col-md-10">
						<input type="text" ng-model="newUser.firstName" name="inputPrenom" class="form-control" id="inputPrenom" placeholder="Prenom" required>
						<div ng-show="formRegister.$submitted || formRegister.inputPrenom.$touched">
							<span class="errorInput" ng-show="formRegister.inputPrenom.$error.required">Veuillez saisir votre prenom.</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputBirthDate" class="col-md-2 control-label">Date de naissance</label>
					<div class="col-md-10">
						<datepicker date-format="dd-MM-yyyy">	
						<input type="text" ng-model="newUser.birthDate" name="inputBirthDate" class="form-control" id="inputBirthDate" ng-pattern="/^((\d{4})[-/](\d{2})[-/](\d{2})|(\d{2})[-/](\d{2})[-/](\d{4}))$/" placeholder="Date de naissance">
						</datepicker>	
						<div ng-show="formRegister.$submitted || formRegister.inputBirthDate.$touched">
							<span class="errorInput" ng-show="formRegister.inputBirthDate.$error.date || formRegister.inputBirthDate.$error.pattern">La date est invalide.</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="col-md-2 control-label">Email</label>
					<div class="col-md-10">
						<input type="email" ng-model="newUser.email" name="inputEmail" class="form-control" id="inputEmail" placeholder="Email" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required>
						<div ng-show="formRegister.$submitted || formRegister.inputEmail.$touched">
							<span class="errorInput" ng-show="formRegister.inputEmail.$error.required">Veuillez saisir votre email.</span>
							<span class="errorInput" ng-show="formRegister.inputEmail.$error.email || formRegister.inputEmail.$error.pattern">Votre email est invalide.</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-md-2 control-label">Mot de passe</label>
					<div class="col-md-10">
						<input type="password" ng-model="newUser.password" name="inputPassword" class="form-control" id="inputPassword" placeholder="Mot de passe" required>
						<div ng-show="formRegister.$submitted || formRegister.inputPassword.$touched">
							<span class="errorInput" ng-show="formRegister.inputPassword.$error.required">Veuillez saisir votre mot de passe.</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPasswordVerify" class="col-md-2 control-label">Confirmer mot de passe</label>
					<div class="col-md-10">
						<input type="password" ng-model="newUser.passwordVerify" name="inputPasswordVerify" class="form-control" id="inputPasswordVerify" placeholder="Confirmer mot de passe" required>
						<div ng-show="formRegister.$submitted || formRegister.inputPasswordVerify.$touched">
							<div ng-if="newUser.password != newUser.passwordVerify && newUser.passwordVerify != NULL ">
								<span class="errorInput">Les mots de passes sont différents.</span>
							</div>
							<span class="errorInput" ng-show="formRegister.inputPasswordVerify.$error.required">Veuillez saisir votre mot de passe.</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12 text-center" id="customButtonSubmit">
						<div ng-show="formRegister.$submitted">
							<span class="errorInput" ng-show="formRegister.$error.required">*Un des champs requis n'est pas rempli.</span>
						</div>
						<button type="submitRegister" ng-disabled="formRegister.$invalid || newUser.password != newUser.passwordVerify || newUser.password == NULL" class="btn btn-lg btn-primary">M'inscrire</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div ng-include="'../partials/footer.html'">
</div>