<div ng-include="'../partials/menu.html'">
</div>
<!-- CONTENT -->
<div class="container">
	<fieldset>
		<legend><h3>Votre abonnement</h3></legend>
		<div class="row" >
			<div ng-show="!loader" id="loader"></div>
			<div ng-show="loader">
				<table class="table table-striped table-hover ">
					<thead>
						<tr>
							<th>#</th>
							<th>Produit</th>
							<th>Caractéristque</th>
							<th>Tarif</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Telephonie</td>
							<td>{{myAbonnement.name}}</td>
							<td>
							{{myAbonnement.capacity}}
							<br/>
							{{myAbonnement.destination}}
							<br/>
							{{myAbonnement.zone}}
							</td>
							<td>{{myAbonnement.price}}</td>
						</tr>
						<tr>
							<td>Option</td>
							<td>{{myOption.name}}</td>
							<td>{{myOption.details}}</td>
							<td>{{myOption.price}}</td>
						</tr>
						<tr class="info">
							<td>Total</td>
							<td></td>
							<td></td>
							<td>{{total | number:2}} €</td>
						</tr>
					</tbody>
				</table> 
				<div class="row">
					<div class="col-xs-12">
						<button ng-click="subscriptionValidate()" class="btn btn-success">Souscrire</button>
						<button ng-click="canceled()" class="btn btn-warning">Annuler</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</fieldset>
</div>
<div ng-include="'../partials/footer.html'">
</div>